body, html {
  background-image: url(image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Girassol', cursive;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 1.2rem;
  min-height:100%;
}
h4{
  color: #ffcece;
}
@media (min-width: 800px) and (max-width: 850px) {
           .navbar:not(.top-nav-collapse) {
               background: #1C2331!important;
           }
       }
.navbar{background-color:rgba(0,0,0,.2)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}

.needy {
  display :flex;
  justify-content: center;
  align-items: center;
  position:relative;
  top:250px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-align:center;
  padding:4px;
  min-height:100%;
}
.btn-responsive{
  white-space: normal !important;
  word-wrap: break-word;

}
#footer{
  text-align: center;
  padding: 5% 17% 0;
}
